<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% for row1 in list1 %}
        {{row1.0}},{{row1.1}},{{row1.2}} <br />
    {% endfor %}

    {% for row in list %}
        {{row.no}},{{row.name}},{{row.kor}} <br />
    {% endfor %}

    <hr />
    <h4>데이터프레임 테이블 출력</h4>
    {% autoescape off %}
        {{df_table}}
    {% endautoescape %}
    
</body>
</html>