<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>member/index 페이지</h3>
    {% if not request.session.userid %}
        <a href='/member/login'>로그인</a>
        <a href='/member/join'>회원가입</a>
    {% else %}    
        <a href='/member/edit'>회원정보수정</a>
        <a href='/member/delete'>회원탈퇴</a>
        <a href='/member/logout'>로그아웃</a>
    {% endif %}
</body>
</html>