<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>js_index</h3>
    <form action="/member/insert" method="POST" id='form'></form>
        <input type="text" name='name' id='name'>
        <input type="submit" value="추가">
        <input type="submit" id = 'btn_delete'value="삭제">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<--!        네임이라는 밸류를 jquery insert로 변경하라
        버튼.삭제를 눌리고  그리고 폼이라는 id를 찾아서 액션의 속성을 /member/delete로 바꿔라 -->
    <script>
        $(function(){
            $('#name').val('jquery insert')
            $('#btn_delete').click(function(){
                $('#form').attr('form', '/member/delete')
                
            })
        })
        alert('aaa')


    </script>
</body>
</html>